@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.heroSection,
.heroSection .container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.heroSection::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.heroSection>video {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.heroSection .mainLogo {
  max-width: 400px;
  margin: auto;
}

.heroSection h1 {
  line-height: 1.5;
}

.titleBar {
  background: #000;
  padding: 10px 0;
  border: 1px solid #A3A3A3;
  border-left: none;
  border-right: none;
}

.secondSection .textData {
  position: relative;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  padding: 0 20px 20px;
}

.secondSection video {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
}

.secondSection .brandLogo {
  max-width: 250px;
}

.secondSection .joinBtn {
  max-width: 300px;
}

.secondSection .battleLogo {
  max-width: 160px;
}

.secondSection .baseLogo {
  max-width: 200px;
  margin: auto;
}

.secondSection .twiceRow>div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.secondSection .centeredLogo {
  position: absolute;
  content: "";
  max-width: 200px;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.thirdSection {
  background-color: #000;
  background-image: url('../public/3rdBg.png');
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.thirdSection::after{
  position: absolute;
  content: "";
  width: 80%;
  height: 400px;
  left: -70px;
  bottom: -220px;
  background: url('../public/earthBanner.png') no-repeat top;
  background-size: cover;
}

.bannerWidthWrapper {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.thirdSection .bannerWidth {
  max-width: 500px;
  max-height: 490px;
  margin: auto;
  position: relative;
}

.thirdSection .centeredLogo {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.vectorleft {
  position:absolute;
  max-width:70px;
  bottom:-165px;
  left:50px;
}

.vectorright {
  position: absolute;
  max-width: 70px;
  bottom: -165px;
  right: 50px;
}

footer img {
  max-width: 200px;
}

footer ul li {
  margin-bottom: 15px;
}

footer>.container:first-child {
  border-bottom: 2px solid #8B8B8B;
}